<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard">
    <link rel="icon" href="https://d32zu6sws4tz5c.cloudfront.net/images/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="https://d32zu6sws4tz5c.cloudfront.net/images/favicon.png" type="image/x-icon"/>
    <title>{{#block "title"}}{{/block}}</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">

    <!-- Font Awesome -->
    {{#block "style"}}
        <link rel="stylesheet" type="text/css" href="https://d32zu6sws4tz5c.cloudfront.net/css/fontawesome.css">

        <!-- ico-font -->
        <link rel="stylesheet" type="text/css" href="https://d32zu6sws4tz5c.cloudfront.net/css/icofont.css">

        <!-- Themify icon -->
        <link rel="stylesheet" type="text/css" href="https://d32zu6sws4tz5c.cloudfront.net/css/themify.css">

        <!-- Flag icon -->
        <link rel="stylesheet" type="text/css" href="https://d32zu6sws4tz5c.cloudfront.net/css/flag-icon.css">

        <!-- prism css -->
        <link rel="stylesheet" type="text/css" href="https://d32zu6sws4tz5c.cloudfront.net/css/prism.css">

        <!-- Owl css -->
        <link rel="stylesheet" type="text/css" href="https://d32zu6sws4tz5c.cloudfront.net/css/owlcarousel.css">

        <!-- Bootstrap css -->
        <link rel="stylesheet" type="text/css" href="https://d32zu6sws4tz5c.cloudfront.net/css/bootstrap.css">

        <!-- App css -->
        <link rel="stylesheet" type="text/css" href="https://d32zu6sws4tz5c.cloudfront.net/css/style.css">

        <!-- Responsive css -->
        <link rel="stylesheet" type="text/css" href="https://d32zu6sws4tz5c.cloudfront.net/css/responsive.css">
    {{/block}}

</head>
<body>
    <div class="loader-wrapper">
        <div class="loader bg-white">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <div class="page-wrapper">
        {{> header}}

        <div class="page-body-wrapper">
            {{> sidebar}}

            {{{body}}}
        </div>
    </div>
{{#block "script"}}
    <script src="https://d32zu6sws4tz5c.cloudfront.net/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap js-->
    <script src="https://d32zu6sws4tz5c.cloudfront.net/js/bootstrap/popper.min.js"></script>
    <script src="https://d32zu6sws4tz5c.cloudfront.net/js/bootstrap/bootstrap.js"></script>

    <script src="https://d32zu6sws4tz5c.cloudfront.net/js/sidebar-menu.js" ></script>

    <!-- Theme js-->
    <script src="https://d32zu6sws4tz5c.cloudfront.net/js/script.js"></script>
{{/block}}
</body>
</html>